---
layout: default
---

<div class="home-hero">
  <h1>Welcome to my blog :)</h1>
  <p>I'm growing a lot as a software developer, and I thought: what better way to document what I'm learning than through a blog!?</p>
  <p>Quick recap of who I am: My preferred language is JavaScript. I started out as a full-stack WordPress developer, then moved into React development, and now I do a mix of both. I'm currently niching down to help .NET developers with frontend work. I built an MVC app that accepts Stripe payments to showcase my C# abilities.</p>
</div>

<hr />

<ul class="post-list">
  {% for post in site.posts %}
  <li>
    <h3>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h3>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <p>{{ post.excerpt | strip_html | truncate: 160 }}</p>
  </li>
  {% endfor %}
</ul>
